src/META-INF/wsdl/batpc-ubuntu_8080/CSCWWebAppCustomer/CustomerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webappcustomer.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webappcustomer.com/" name="CustomerService">
<types>
<xsd:schema>
<xsd:import namespace="http://webappcustomer.com/" schemaLocation="http://batpc-ubuntu:8080/CSCWWebAppCustomer/CustomerService?xsd=1"/>
</xsd:schema>
</types>
<message name="getSample">
<part name="parameters" element="tns:getSample"/>
</message>
<message name="getSampleResponse">
<part name="parameters" element="tns:getSampleResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="removeCustomer">
<part name="parameters" element="tns:removeCustomer"/>
</message>
<message name="removeCustomerResponse">
<part name="parameters" element="tns:removeCustomerResponse"/>
</message>
<message name="viewCustomers">
<part name="parameters" element="tns:viewCustomers"/>
</message>
<message name="viewCustomersResponse">
<part name="parameters" element="tns:viewCustomersResponse"/>
</message>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer"/>
</message>
<message name="addCustomerResponse">
<part name="parameters" element="tns:addCustomerResponse"/>
</message>
<portType name="CustomerService">
<operation name="getSample">
<input wsam:Action="http://webappcustomer.com/CustomerService/getSampleRequest" message="tns:getSample"/>
<output wsam:Action="http://webappcustomer.com/CustomerService/getSampleResponse" message="tns:getSampleResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://webappcustomer.com/CustomerService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webappcustomer.com/CustomerService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="removeCustomer">
<input wsam:Action="http://webappcustomer.com/CustomerService/removeCustomerRequest" message="tns:removeCustomer"/>
<output wsam:Action="http://webappcustomer.com/CustomerService/removeCustomerResponse" message="tns:removeCustomerResponse"/>
</operation>
<operation name="viewCustomers">
<input wsam:Action="http://webappcustomer.com/CustomerService/viewCustomersRequest" message="tns:viewCustomers"/>
<output wsam:Action="http://webappcustomer.com/CustomerService/viewCustomersResponse" message="tns:viewCustomersResponse"/>
</operation>
<operation name="addCustomer">
<input wsam:Action="http://webappcustomer.com/CustomerService/addCustomerRequest" message="tns:addCustomer"/>
<output wsam:Action="http://webappcustomer.com/CustomerService/addCustomerResponse" message="tns:addCustomerResponse"/>
</operation>
</portType>
<binding name="CustomerServicePortBinding" type="tns:CustomerService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getSample">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerService">
<port name="CustomerServicePort" binding="tns:CustomerServicePortBinding">
<soap:address location="http://batpc-ubuntu:8080/CSCWWebAppCustomer/CustomerService"/>
</port>
</service>
</definitions>