src/META-INF/wsdl/batpc-ubuntu_8080/CSCWWebApp/EmployeeService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cscwwebapp.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cscwwebapp.com/" name="EmployeeService">
<types>
<xsd:schema>
<xsd:import namespace="http://cscwwebapp.com/" schemaLocation="http://batpc-ubuntu:8080/CSCWWebApp/EmployeeService?xsd=1"/>
</xsd:schema>
</types>
<message name="getCurrentUser">
<part name="parameters" element="tns:getCurrentUser"/>
</message>
<message name="getCurrentUserResponse">
<part name="parameters" element="tns:getCurrentUserResponse"/>
</message>
<message name="getSample">
<part name="parameters" element="tns:getSample"/>
</message>
<message name="getSampleResponse">
<part name="parameters" element="tns:getSampleResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="validateLogin">
<part name="parameters" element="tns:validateLogin"/>
</message>
<message name="validateLoginResponse">
<part name="parameters" element="tns:validateLoginResponse"/>
</message>
<message name="viewEmployees">
<part name="parameters" element="tns:viewEmployees"/>
</message>
<message name="viewEmployeesResponse">
<part name="parameters" element="tns:viewEmployeesResponse"/>
</message>
<message name="removeEmployee">
<part name="parameters" element="tns:removeEmployee"/>
</message>
<message name="removeEmployeeResponse">
<part name="parameters" element="tns:removeEmployeeResponse"/>
</message>
<message name="editEmployee">
<part name="parameters" element="tns:editEmployee"/>
</message>
<message name="editEmployeeResponse">
<part name="parameters" element="tns:editEmployeeResponse"/>
</message>
<message name="addEmployee">
<part name="parameters" element="tns:addEmployee"/>
</message>
<message name="addEmployeeResponse">
<part name="parameters" element="tns:addEmployeeResponse"/>
</message>
<message name="isLoginStatus">
<part name="parameters" element="tns:isLoginStatus"/>
</message>
<message name="isLoginStatusResponse">
<part name="parameters" element="tns:isLoginStatusResponse"/>
</message>
<message name="setLoginStatus">
<part name="parameters" element="tns:setLoginStatus"/>
</message>
<message name="setLoginStatusResponse">
<part name="parameters" element="tns:setLoginStatusResponse"/>
</message>
<portType name="EmployeeService">
<operation name="getCurrentUser">
<input wsam:Action="http://cscwwebapp.com/EmployeeService/getCurrentUserRequest" message="tns:getCurrentUser"/>
<output wsam:Action="http://cscwwebapp.com/EmployeeService/getCurrentUserResponse" message="tns:getCurrentUserResponse"/>
</operation>
<operation name="getSample">
<input wsam:Action="http://cscwwebapp.com/EmployeeService/getSampleRequest" message="tns:getSample"/>
<output wsam:Action="http://cscwwebapp.com/EmployeeService/getSampleResponse" message="tns:getSampleResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://cscwwebapp.com/EmployeeService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://cscwwebapp.com/EmployeeService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="validateLogin">
<input wsam:Action="http://cscwwebapp.com/EmployeeService/validateLoginRequest" message="tns:validateLogin"/>
<output wsam:Action="http://cscwwebapp.com/EmployeeService/validateLoginResponse" message="tns:validateLoginResponse"/>
</operation>
<operation name="viewEmployees">
<input wsam:Action="http://cscwwebapp.com/EmployeeService/viewEmployeesRequest" message="tns:viewEmployees"/>
<output wsam:Action="http://cscwwebapp.com/EmployeeService/viewEmployeesResponse" message="tns:viewEmployeesResponse"/>
</operation>
<operation name="removeEmployee">
<input wsam:Action="http://cscwwebapp.com/EmployeeService/removeEmployeeRequest" message="tns:removeEmployee"/>
<output wsam:Action="http://cscwwebapp.com/EmployeeService/removeEmployeeResponse" message="tns:removeEmployeeResponse"/>
</operation>
<operation name="editEmployee">
<input wsam:Action="http://cscwwebapp.com/EmployeeService/editEmployeeRequest" message="tns:editEmployee"/>
<output wsam:Action="http://cscwwebapp.com/EmployeeService/editEmployeeResponse" message="tns:editEmployeeResponse"/>
</operation>
<operation name="addEmployee">
<input wsam:Action="http://cscwwebapp.com/EmployeeService/addEmployeeRequest" message="tns:addEmployee"/>
<output wsam:Action="http://cscwwebapp.com/EmployeeService/addEmployeeResponse" message="tns:addEmployeeResponse"/>
</operation>
<operation name="isLoginStatus">
<input wsam:Action="http://cscwwebapp.com/EmployeeService/isLoginStatusRequest" message="tns:isLoginStatus"/>
<output wsam:Action="http://cscwwebapp.com/EmployeeService/isLoginStatusResponse" message="tns:isLoginStatusResponse"/>
</operation>
<operation name="setLoginStatus">
<input wsam:Action="http://cscwwebapp.com/EmployeeService/setLoginStatusRequest" message="tns:setLoginStatus"/>
<output wsam:Action="http://cscwwebapp.com/EmployeeService/setLoginStatusResponse" message="tns:setLoginStatusResponse"/>
</operation>
</portType>
<binding name="EmployeeServicePortBinding" type="tns:EmployeeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCurrentUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSample">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewEmployees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isLoginStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setLoginStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmployeeService">
<port name="EmployeeServicePort" binding="tns:EmployeeServicePortBinding">
<soap:address location="http://batpc-ubuntu:8080/CSCWWebApp/EmployeeService"/>
</port>
</service>
</definitions>